extends layout

block content
  nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
    if !isDMChosen
      span(class="navbar-brand mb-0 h1") Hello #{s.userName}
      form(action="/claimdm", method="POST")
        button(class="btn btn-outline-success") Claim DM
    if isDMChosen && s.isDM
      span(class="navbar-brand mb-0 h1") [DM] Hello #{s.userName} 
      form(action="/releasedm", method="POST")
        div.container
          button(class="btn btn-outline-success") Release DM
    if s.charName !== null
      form(action="/releasechar", method="POST")
        div.container
          button(class="btn btn-outline-success") Release #{s.charName}

  main(class="container px-0" role="main")
      div(class="row justify-content-center mb-sm-2 p-2 bg-secondary")
          button(class="btn btn-light mr-sm-2 border-dark" type="button" disabled="true") 🢀 Rewind
          div(class="alert alert-primary m-0" role="alert") Round: #{currentRound+1} / Segment: #{currentSegment+1}
          button(class="btn btn-light ml-sm-2 border-dark" type="button" disabled="true") Next 🢂

      ul.list-group
          each i in initiative
              bg-secondary
              if i.data
                  if i.selected
                      if i.data.charName == s.charName
                        li(class="list-group-item d-flex justify-content-between align-items-center bg-danger") #{i.segment+1}: #{i.data.charName}
                            span(class="badge badge-primary badge-pill") #{i.data.userName}
                      else
                        li(class="list-group-item d-flex justify-content-between align-items-center bg-success") #{i.segment+1}: #{i.data.charName}
                            span(class="badge badge-primary badge-pill") #{i.data.userName}
                  else
                      li(class="list-group-item d-flex justify-content-between align-items-center bg-secondary") #{i.segment+1}: #{i.data.charName}
                          span(class="badge badge-primary badge-pill") #{i.data.userName}
